@model List<Link.Models.CombinedWebsite>

@{
    ViewBag.Title = "Kuva";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="header">
    <h1>TOP 10</h1>
    <input id="toggle-show" class="btn btn-rotated btn-danger btn-lg" value="vaheta vaateid" />
</div>

<!-- text -->
<section id="show-text">
    @{ var cnt = 10; if (Model.Count() < 10) { cnt = Model.Count(); } }
    @foreach (var site in Model.OrderByDescending(o => o.Score).Take(cnt)) {

        String host = new Uri(site.URL).Host.ToString().ToUpper();

        <div class="text-websites">
            <div class="text-header">
                <h1><span class="glyphicon glyphicon-globe"></span> @host</h1>
                <h3><span class="glyphicon glyphicon-stats"></span> Skoor: @site.Score</h3>
            </div>

            <div class="text-content">
                <table class="table table-striped table-bordered">

                    <thead>
                        <tr>
                            <th>
                                Pealkiri
                            </th>
                            <th>
                                Kirjeldus
                            </th>
                            <th>
                                Kategooriad
                            </th>
                            <th>
                                Omanikud
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (var i = 0; i <= site.Title.Count(); i++) {
                            <tr>
                                <td>
                                    @try { @site.Title[i] } catch { }
                                </td>
                                <td>
                                    @try { @site.Description[i] } catch { }
                                </td>
                                <td>
                                    @try { @site.Category[i] } catch { }
                                </td>
                                <td>
                                    @try { @site.Owner[i] } catch { }
                                </td>
                            </tr>
}
                    </tbody>

                </table>
            </div>
        </div>
        <br />
    }
</section>

<!-- visualized -->
<section id="show-visual" class="hidden">
    <div id="piechart" style="height: 400px"></div>
</section>

<!-- piecharts -->
<script>
    $(function () {
        $('#piechart').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            exporting: { 
                enabled: false
            },
            title: {
                text: 'Skooride top'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 55,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Top 10 protsent',
                data: [
                    @{ var last = Model.Last(); var total = Model.Take(cnt).Select(s => s.Score).Sum(); }
                    @foreach (var site in Model.OrderByDescending(o => o.Score).Take(cnt)) {
                        String host = new Uri(site.URL).Host.ToString().ToUpper();
                        if (!site.Equals(last)) {
                            @:['@site.URL', @(((float)site.Score / (float)total)*1000)],
                        } else {
                            @:['@site.URL', @(((float)site.Score / (float)total)*1000)]
                        }
                    }
                ]
            }]
        });
    });
</script>